body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 120%;
}

.container {
	width: 500px;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 1px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.rangeControl, h2 {
	text-align: center;
}

table, th, td {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}

dt {
	font-weight: bold;
}

dl {
	border: 1px solid #d3d3d3;
	padding: 10px;
}

#speedRange {
    width: 500px;
}
